// #51adcf

$headband-bg  = #51adcf
$b2t-bg-color  = #51adcf
$btn-default-hover-bg   = #51adcf
$btn-default-color   = #51adcf
$btn-default-border-color  = #51adcf
$btn-default-hover-border-color =  #51adcf
